.button{
    display: flex;
    width: 90px;
    height: 40px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    

    border-radius: 40px;

    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.buttonName{
    font-weight: bold;
    color: whitesmoke;
}

.button:hover{
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
}