.homeDiv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #faedcd;
    min-height: calc(100vh);
}

h1{
    padding-top: 40px;
    padding-bottom: 40px;
    position: static;
}

.boardsWrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    background-color: transparent;
}
